/*
* demo.css
* File include item demo only specific css only
******************************************************************************/

.menu .app-brand.demo {
  height: 64px;
  margin-top: 12px;
}

.app-brand-logo.demo svg {
  width: 22px;
  height: 38px;
}

.app-brand-text.demo {
  font-size: 1.75rem;
  letter-spacing: -0.5px;
  text-transform: lowercase;
}

/* ! For .layout-navbar-fixed added fix padding top tpo .layout-page */
/* Detached navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-horizontal):not(.layout-without-menu) .layout-page {
  padding-top: 76px !important;
}
/* Default navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page {
  padding-top: 64px !important;
}

/* Navbar page z-index issue solution */
.content-wrapper .navbar {
  z-index: auto;
}

/*
* Content
******************************************************************************/

.demo-blocks > * {
  display: block !important;
}

.demo-inline-spacing > * {
  margin: 1rem 0.375rem 0 0 !important;
}

/* ? .demo-vertical-spacing class is used to have vertical margins between elements. To remove margin-top from the first-child, use .demo-only-element class with .demo-vertical-spacing class. For example, we have used this class in forms-input-groups.html file. */
.demo-vertical-spacing > * {
  margin-top: 1rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-lg > * {
  margin-top: 1.875rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-lg.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-xl > * {
  margin-top: 5rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-xl.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.rtl-only {
  display: none !important;
  text-align: left !important;
  direction: ltr !important;
}

[dir='rtl'] .rtl-only {
  display: block !important;
}

/*
* Layout demo
******************************************************************************/

.layout-demo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1rem;
}
.layout-demo-placeholder img {
  width: 900px;
}
.layout-demo-info {
  text-align: center;
  margin-top: 1rem;
}

/*
* Post
******************************************************************************/
img {
  max-width:100%;
}
.avator {
  width:48px;
  height:48px;
  margin-right: 15px;
  clip-path: circle(48px);
}
.img-profile{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius:50%;
}

.post-wrap {
  max-width:100%;
  /* background: #fff; */
  background: none;
  border-radius:3px;
  padding: 20px;
  border-bottom: 1px solid #e6ecf0;
  border-top: 1px solid #e6ecf0;
}
.post-wrap:hover{
    background-color: rgb(246, 246, 246);
}
.post-header {
  display: flex;
  align-items:flex-start;
  /* align-items:stretch; */
  font-size:14px;
}
.post-header-info {
  font-family: 'Poppins', sans-serif;
}
.post-header-info span posted-date {
  color:#657786;
  font-size:12px;
  margin-left: 20px;
}

.post-img-wrap {
  margin-top: 10px;
  padding-left: 60px;
  min-height: 10vh;
}

.post-info-counts {
  display: flex;
  margin-left: 60px;
  margin-top: 10px;
  border-top: #657786 1px;
}
.post-info-counts div {
  display: flex;
  margin-right: 20px;
}
.post-info-counts div button {
  color:#4b5b68;
  margin-right: 10px;
  background:none;
  border:none;
}
.post-info-counts div button:hover {
  color:#c2a3cc;
}

.post-info-counts div .selected {
    color:#9e47b8;
  }

@media screen and (max-width:430px){
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .post-header {
    flex-direction:column;
  }
  .post-header img {
    margin-bottom: 20px;
  }
  .post-header-info p {
    margin-bottom: 30px;
    padding-left:20px;
  }
  .post-img-wrap {
    min-height:20%;
    padding-left: 0;
  }
  .post-info-counts {
  display: flex;
  margin-left: 0;
}
.post-info-counts div {
  margin-right: 10px;
}
}

/*
* Comment
******************************************************************************/
  .comment-wrap {
    max-width:100%;
    align-self: flex-end;
    background: none;
    /* border-radius:3px; */
    padding: 20px;
    border: none;
    /* border-bottom: 1px solid #e6ecf0;
    border-top: 1px solid #e6ecf0; */
  }
  .comment-wrap:hover {
    background-color: rgb(246, 246, 246);
}
  .comment-header {
    display: flex;
    align-items:flex-start;
    font-size:14px;
  }
  .avator-comment {
    width:40px;
    height:40px;
    margin-right: 15px;
    clip-path: circle(48px);
  }
  .img-profile{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius:50%;
  }
  
  .comment-header-info {
    font-family: 'Poppins', sans-serif;
  }
  .comment-header-info span commented-date {
    color:#657786;
    font-size:10px;
    margin-left: 20px;
  }
  
  .comment-img-wrap {
    padding-left: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .comment-info-counts {
    display: flex;
    align-items: center;
    margin-left: 60px;
    margin-top: 10px;
    border-top: #657786 1px;
  }
  .comment-info-counts div {
    display: flex;
    margin-right: 20px;
  }
  .comment-info-counts div button {
    color:#4b5b68;
    margin-right: 10px;
    background:none;
    border:none;
  }
  .comment-info-counts :hover {
    color:#a155bb;
  }

  .comment-info-counts div .selected {
    color:#9e47b8;
  }

  .dropdown-reply{
    display: none; 
    padding-left:20px
  }
  .show-reply{
    display: block;
  }

  .main-comment{
    background-color: rgb(246, 246, 246);
  }
  @media screen and (max-width:430px){
    body {
      padding-left: 20px;
      padding-right: 20px;
    }
    .comment-header {
      flex-direction:column;
    }
    .comment-header img {
      margin-bottom: 20px;
    }
    .comment-header-info p {
      margin-bottom: 30px;
      padding-left:20px;
    }
    .comment-img-wrap {
      min-height:20%;
      padding-left: 0;
    }
    .comment-info-counts {
    display: flex;
    margin-left: 0;
  }
  .comment-info-counts div {
    margin-right: 10px;
  }
}

.comment-thread{
  position: relative;
  width: 100%;

}

.comment-border-link {
  display: flex !important;
  position: absolute !important;
  margin-top:20px !important;
  margin-left:35px !important;
  left: 0 !important;
  width: 10px !important;
  height: calc(100% + 20px) !important;
  border-left: 4px solid transparent !important;
  border-right: 4px solid transparent !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
  background-clip: padding-box !important;
}

/*
* Comment
******************************************************************************/
.thread-wrap{
  background-color: white; 
  margin-left: 30px; 
  margin-top: 30px; 
  padding: 20px; 
  width: 50vw; 
  border-radius: 10px'
}

.replies{
  margin-left: 60px;
}

