/* the --color-header and others are CSS variables, which we access later. 
*/

HTML {
    --color-header: #007ea9;  /* color for H1-H6 and others. was deepskyblue but poor contrast. */
    --color-hilite: #b50000;  /* was red, but this avoids WAVE contrast errors */ 
    --color-focus: #56B929;
    --font-family: Verdana;
    font-family: var(--font-family)
}

/* For flashed messages; make them stand out using red and italics */

#messages {
    color: var(--color-hilite);
    font-style: italic;
}

.edit_form{
    margin: 20px;
}

.search_form{
    margin-top: 20px;
}

.inputs{
    margin-top: 20px;
}

h1 {
    font-size: 200%;
    color: var(--color-header);
}

h2, h3 {
    color: var(--color-header);
}
    

/* for a simple navbar. Talk to Scott if you want drop-downs. */
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
  
ul.menu li {
    float: left;
}

ul.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
ul.menu li a:hover {
    background-color: #111;
}
  
.active {
    background-color: #4CAF50;
}

.post{
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    width: 700px;
}

.add_post_form{
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #007ea9;
    width: 700px;
}

textarea {
    margin: 10px;
    width: 600px;
    height: 100px;
}
.comment-thread {
    width: 700px;
    max-width: 100%;
    margin: auto;
    padding: 0 30px;
    background-color: #fff;
    border: 1px solid transparent; /* Removes margin collapse */
}
.m-0 {
    margin: 0;
}
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Comment */

.comment {
    position: relative;
    margin: 20px auto;
}
.comment-heading {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 14px;
}

.comment-info {
    color: rgba(0, 0, 0, 0.5);
    margin-left: 10px;
}
.comment-author {
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
    text-decoration: none;
}
.comment-author:hover {
    text-decoration: underline;
}
.replies {
    margin-left: 20px;
}

/* Adjustments for the comment border links */

.comment-border-link {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    width: 12px;
    height: calc(100% - 50px);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    background-color: rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
}
.comment-border-link:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
.comment-body {
    padding: 0 20px;
    padding-left: 28px;
}
.replies {
    margin-left: 28px;
}

/* Dropdown menu for posts */

.showLeft {
    background-color: white !important;
    border: 1px solid white !important;
    text-shadow: white !important;
    color: black !important;
    padding: 10px;
}
  
.icons li {
    background: none repeat scroll 0 0 black;
    height: 7px;
    width: 7px;
    line-height: 0;
    list-style: none outside none;
    margin-right: 15px;
    margin-top: 3px;
    vertical-align: top;
    border-radius: 50%;
    pointer-events: none;
}
  
.btn-left {
    left: 0.4em;
}
  
.btn-right {
    right: 0.4em;
}
  
.btn-left, .btn-right {
    position: absolute;
    top: 0.24em;
}
  
.dropbtn {
    background-color: #4caf50;
    /* position: fixed; */
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}
  
.dropdown {
    position: absolute;
    display: inline-block;
    right: 700px;
}
  
.dropdown-content {
    display: none;
    position: relative;
    margin-top: 60px;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    background-color: #f9f9f9;
}
  
.dropdown a:hover {
    background-color: #f1f1f1;
}
  
.show {
    display: block;
}

/* Modqueue.html */

.modqueue {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 900px;
  }
  
.modqueue td, .modqueue th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
.modqueue tr:nth-child(even){background-color: #f2f2f2;}
  
.modqueue tr:hover {background-color: #ddd;}
  
.modqueue th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}