/* the --color-header and others are CSS variables, which we access later. 
*/

HTML {
    --color-header: #007ea9;  /* color for H1-H6 and others. was deepskyblue but poor contrast. */
    --color-hilite: #b50000;  /* was red, but this avoids WAVE contrast errors */ 
    --color-focus: #56B929;
    --font-family: Verdana;
    font-family: var(--font-family)
}

/* For flashed messages; make them stand out using red and italics */

#messages {
    color: var(--color-hilite);
    font-style: italic;
}

.edit_form{
    margin: 20px;
}

.search_form{
    margin-top: 20px;
}

.inputs{
    margin-top: 20px;
}

h1 {
    font-size: 200%;
    color: var(--color-header);
}

h2, h3 {
    color: var(--color-header);
}
    

/* for a simple navbar. Talk to Scott if you want drop-downs. */
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
  
ul.menu li {
    float: left;
}

ul.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
ul.menu li a:hover {
    background-color: #111;
}
  
.active {
    background-color: #4CAF50;
}

.post{
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    width: 700px;
}

.comment{
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    width: 650px;
}
.add_post_form{
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #007ea9;
    width: 700px;
}

textarea {
    margin: 10px;
    width: 600px;
    height: 100px;
}