<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Drop Down Sidebar Menu | CodingLab </title>-->
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
    <div class="sidebar close">
      <div class="logo-details">
        <i class='bx bxl-c-plus-plus'></i>
        <span class="logo_name">Waggle</span>
      </div>
      <ul class="nav-links">
        <li>
          <a href="{{url_for('homepage')}}">
            <i class='bx bx-home-alt' ></i>
            <span class="link_name">Home</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="{{url_for('homepage')}}">Home</a></li>
          </ul>
        </li>
        <li>
        <li>
          <a href="{{url_for('dashboard')}}">
            <i class='bx bx-grid-alt' ></i>
            <span class="link_name">Dashboard</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="{{url_for('dashboard')}}">Dashboard</a></li>
          </ul>
        </li>
        <li>
          <div class="iocn-link">
            <a href="#">
              <i class='bx bx-book-alt' ></i>
              <span class="link_name">Gaggles</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">Gaggles</a></li>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Login Form</a></li>
            <li><a href="#">Card Design</a></li>
          </ul>
        </li>
        <li>
          <div class="iocn-link">
            <a href="{{url_for('profile')}}">
              <i class='bx bx-user' ></i>
              <span class="link_name">Profile</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="{{url_for('profile')}}">Profile</a></li>
            <li><a href="{{url_for('history', username = username)}}">My History</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-cog' ></i>
            <span class="link_name">Setting</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Setting</a></li>
          </ul>
        </li>
        <li>
      <div class="profile-details">
        <div class="profile-content">
          <img class= "userPic" src="{{url_for('profilePic',user_id=user_id)}}" >
        </div>
        <div class="name-job">
          <div class="profile_name">{{username}}</div>
          <div class="job">{{username}}</div>
        </div>
        <a href="{{url_for('logout')}}">
          <i class='bx bx-log-out' ></i>
        </a>
      </div>
    </li>
  </ul>
    </div>
  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu'></i>
    </div>
    <div class="home-content">
      <span class="text"> {% block main_content %}
        {% endblock %} </span>
    </div>
  </section>

  <script>
let arrow = document.querySelectorAll(".arrow");
for (var i = 0; i < arrow.length; i++) {
  arrow[i].addEventListener("click", (e)=>{
 let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
 arrowParent.classList.toggle("showMenu");
  });
}

let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".bx-menu");
console.log(sidebarBtn);
sidebarBtn.addEventListener("click", ()=>{
  sidebar.classList.toggle("close");
});
  </script>
</body>
</html>
