{% extends "base-bs.html" %}

{% block sidebar %}
    <li class="menu-item">
        <a href="{{url_for('homepage')}}" class="menu-link">
        <i class="menu-icon tf-icons bx bxs-home"></i>
        <div data-i18n="Analytics">Home</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="{{url_for('personalHistory')}}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-history"></i>
        <div data-i18n="Authentications">History</div>
        </a>
    </li>
    <li class="menu-item active">
        <a href="{{url_for('createGaggle')}}" class="menu-link">
        <i class="menu-icon tf-icons bx bxs-book-add"></i>
        <div data-i18n="Misc">Create Gaggle</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="{{url_for('profile')}}" class="menu-link">
        <i class="menu-icon tf-icons bx bxs-user"></i>
        <div data-i18n="Misc">Profile</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="{{url_for('dashboard')}}" class="menu-link">
        <i class="menu-icon tf-icons bx bxs-dashboard"></i>
        <div data-i18n="Misc">Dashboard</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="{{url_for('notif')}}" class="menu-link">
        <i class="menu-icon tf-icons bx bxs-bell"></i>
        <div data-i18n="Misc">Notifications</div>
        </a>
    </li>
{% endblock %}

{% block main_content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h3 class="fw-bold py-2 mb-2">Create Gaggle</h3>
    <div class="row">
        <div class="col-md-12">
          <div class="card mb-4">
            <!-- Account -->
            <div class="card-body">
              <form action="{{url_for('createGaggle')}}" method="POST">
                <div class="row">
                  <div class="mb-3 col-md-6">
                    <label for="gaggle_name" class="form-label">Gaggle Name*</label>
                    <input class="form-control" type="text" id="gaggle_name" name="gaggle_name" value="{{gaggle_name}}" autofocus>
                  </div>
                </
                  <div class="mb-3 col-md-6">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" type="text" id="description" name="description"></textarea>
                  </div>
                </div>
                <div class="mt-2">
                  <button type="submit" class="btn btn-primary me-2">Create</button>
                </div>
              </form>
              <p>*: Required, no space or special characters allowed.</p>
            </div>
            <!-- /Account -->
          </div>
        </div>



    <!-- <div>
        <form action="{{url_for('createGaggle')}}" method="POST">
        <table>
            <tr>
                <td><label for="gaggle_name">Gaggle Name*</label></td>
                <td><input id="gaggle_name" name='gaggle_name' value="{{gaggle_name}}"></td> 
            </tr>
            <tr>
                <td><label for="description">Description</label></td>
                <td><input id="description" name='description' value="{{description}}"></td>
            </tr>            
            </table>
            <input type="submit" name="submit" value="Create">
        </form>

    <p>*: Required, no space or special character (@, #, $, %) allowed </p>
    
    </div> -->
</div>
{% endblock %}
