{% extends "base-bs.html" %}

{% block title_description %}
<title>Dashboard | Waggle</title>
<meta name="description" content="" />
{% endblock %}
          
{% block main_content %}





    {% if hasGaggle %}
            <div class="tab-content">
              <div class="tab-pane fade show active" id="navs-justified-home" role="tabpanel">
                <div class="card mb-3">
                  <div class = 'card-body'>
                    <h3 class="fw-bold py-2 mb-2 col-9">Creator Dashboard
                    <span class="badge">
                      <div class="dropdown col-6">
                        <button class="btn btn-secondary rounded-pill dropdown-toggle" type="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                          Choose Gaggle
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                          {% for gaggle in gaggles %}
                          <li><button class="dropdown-item" type="button" onclick="getGaggle('{{gaggle.gaggle_name}}')">{{gaggle.gaggle_name}}</button></li>
                          {%endfor%}
                        </ul>
                      </div>
                    </span>
                    </h3>              
                    <div id = 'main-view'></div>
                </div>
                </div>
        </div>
      </div>
      {% else %}
        You haven't created any Gaggles.
      {% endif %}
    </div>
  </div>
</div>

<script>
  function getGaggle(gaggle_name) {
    console.log(gaggle_name);
    $("#dropdownMenu").text(gaggle_name);
    $.ajax({
                type: "GET",
                url: "/dashboard/get",
                data: {'gaggle_name': gaggle_name},

                success: function(resp){
                  console.log(resp);
                    var view = resp['view'];
                    $('#main-view').empty();
                    $('#main-view').append(view);
                }
            });  event.preventDefault();
  }
</script>



{% endblock %}