{% extends "base-bs.html" %}

{% block title_description %}
<title>Dashboard | Waggle</title>
<meta name="description" content="" />
{% endblock %}
          
{% block main_content %}






    <div class="row my-3 ms-3 justify-content-start">
      <!-- most recent 20 posts -->
      <div class="card mb-3 ms-3 col-11" >
      <div class = 'row card-body'>
          {% block sub_content %} 
          <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '';">
            <ol class="breadcrumb my-3 col-sm-12">
              <li class="breadcrumb-item"><a href="{{url_for('dashboard')}}"><h4 style = 'color: blueviolet;'>Dashboard</h4></a></li>
            </ol>
          </nav>
          
                {% if hasGaggle %}
                    <ul class="nav flex-column">
                      {% for gaggle in gaggles%}
                      <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{url_for('getDashboard', gaggle_name = gaggle.gaggle_name)}}">{{gaggle.gaggle_name}}</a>
                      </li>
                      {%endfor%}
                    </ul>
                {% else %}
                  You haven't created any Gaggles.
                {% endif %}

          {% endblock %}    

      </div>
      </div>
    </div>





<script>
  function getGaggle(gaggle_name) {
    console.log(gaggle_name);
    $("#dropdownMenu").text(gaggle_name);
    $.ajax({
                type: "GET",
                url: "/dashboard/get",
                data: {'gaggle_name': gaggle_name},

                success: function(resp){
                  console.log(resp);
                    var view = resp['view'];
                    $('#main-view').empty();
                    $('#main-view').append(view);
                }
            });  event.preventDefault();
  }
</script>



{% endblock %}