{% extends "base-bs.html" %}

{% block sidebar %}
  <li class="menu-item">
    <a href="{{url_for('homepage')}}" class="menu-link">
      <i class="menu-icon tf-icons bx bxs-home"></i>
      <div data-i18n="Analytics">Home</div>
    </a>
  </li>
  <li class="menu-item">
    <a href="{{url_for('personalHistory')}}" class="menu-link">
      <i class="menu-icon tf-icons bx bx-history"></i>
      <div data-i18n="Authentications">History</div>
    </a>
  </li>
  <li class="menu-item">
    <a href="{{url_for('createGaggle')}}" class="menu-link">
      <i class="menu-icon tf-icons bx bxs-book-add"></i>
      <div data-i18n="Misc">Create Gaggle</div>
    </a>
  </li>
  <li class="menu-item">
    <a href="{{url_for('profile')}}" class="menu-link">
      <i class="menu-icon tf-icons bx bxs-user"></i>
      <div data-i18n="Misc">Profile</div>
    </a>
  </li>
  <li class="menu-item active">
    <a href="{{url_for('dashboard')}}" class="menu-link">
      <i class="menu-icon tf-icons bx bxs-dashboard"></i>
      <div data-i18n="Misc">Dashboard</div>
    </a>
  </li>
  <li class="menu-item">
    <a href="{{url_for('notif')}}" class="menu-link">
      <i class="menu-icon tf-icons bx bxs-bell"></i>
      <div data-i18n="Misc">Notifications</div>
    </a>
  </li>
{% endblock %}
          
{% block main_content %}
<div class="container">
  <nav>
    <ul>
      <li><a href="{{url_for('dashboard')}}">My Gaggle</a></li>
      <li><a href="{{url_for('modqueue')}}">Moderator Queue</a></li>
    </ul>
  </nav>
</div>


  {% block sub_content %}

  {% endblock %}

{% endblock %}