{% extends "base-bs.html" %}
      
{% block main_content %}

<div class="container-xxl flex-grow-1 container-p-y">
       <!-- Tabs -->
      <div class="row">
        <div class="col-xl-12">
            <div class = 'card'>
                <div class = 'card-body'>
                <div class = 'card-body' style = 'min-width: 300px;'>  
                <h5 class="fw-bold mb-2 col-12">Pending invitations:</h5>
                    <ol class="list-group list-group-numbered">
                        {% for gaggle in invitations %}
                        <li id = 'invite-{{gaggle.gaggle_id}}'>
                          Gaggle: <a href="{{url_for('gaggle',gaggle_name=gaggle.gaggle_name)}}">{{gaggle.gaggle_name}}</a> 
                          <span class = 'badge'>
                          <form method="POST" action="{{url_for('response_invite')}}">
                            <div class="btn-group" role="group">                                
                                    <button type = 'button' class = 'btn-outline-primary rounded-pill' onclick =  "respond('{{gaggle.gaggle_id}}','Yes')">Yes</button>
                                    <button type = 'button' class = 'btn-outline-primary rounded-pill' onclick =  "respond('{{gaggle.gaggle_id}}','No')">No</button>                                
                            </div>
                            </form>
                          </span>
                        </li>
                        {%endfor%}
                    </ol>
                    <br>
                    {% if not hasInvites %}
                    No pending invitations
                    {%endif%}
                    <br>
                </div>  
                <br>
            <hr class="my-0"/>     
            <div class = 'card-body' style = 'min-width: 300px;'>     
            <h5 class="fw-bold mb-2 col-12">Mod queues:</h5>
            <ol class="list-group list-group-numbered" id = 'queue'>
                {% for gaggle in modgaggles %}
                  <li class="container list-group-item"> {{gaggle.gaggle_name}}<a href = "{{url_for('getModqueue', gaggle_name = gaggle.gaggle_name)}}">
                  <span class="badge rounded-pill bg-light text-dark">
                    <a href = "{{url_for('getModqueue', gaggle_name = gaggle.gaggle_name)}}"><button type="button" class='btn-outline-primary rounded-pill btn-sm'>View</button></a>
                </span></li>
                {%endfor%}
            </ol>

        </div></div>
    </div>
        </div>
    </div>
</div>

  

<script>
    function getQueue(gaggle_id, gaggle_name) {
        console.log(gaggle_id);
        $("#dropdownMenu").text(gaggle_name);
        $.ajax({
                type: "GET",
                url: "/modqueue/get",
                data: {'gaggle_id': gaggle_id},
                success: function(resp){
                  $('#queue').empty('');
                  var queue = resp['queue']
                  $('#queue').append(queue);
                }
            });  event.preventDefault();
    } 

    function respond(gaggle_id, resp) {
      let li = document.getElementById('invite-'+gaggle_id);
      li.parentNode.removeChild(li);
      $.ajax({
                type: "POST",
                url: "/invitation/",
                data: JSON.stringify({'gaggle_id': gaggle_id, 'resp': resp}),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: true,
                success: function(resp){
                    var accept = resp['resp'];
                    if (accept == 'Yes') {
                        var gaggle_name = resp['gaggle_name'];
                        var new_gaggle = resp['new_gaggle'];
                        $('#queue').prepend(new_gaggle);
                    }
                }
            });  event.preventDefault();
    } 





</script>

{% endblock %}
