{% extends "gaggleDashboard.html" %}

{% block main_content %}  

<h1>Displaying creator view for {{gaggle.gaggle_name}}</h1>

<p>Update bio here: </p>
<div class = "change_group_bio">
        <form name="update_group_bio" action="{{url_for('updateGroupBio', gaggle = gaggle.gaggle_name)}}" method="POST">
            <textarea name="content" rows="4" cols="50"></textarea>
            <input type="submit" value="Update">
            <input type="hidden" name="gaggle_id" value="{{gaggle.gaggle_id}}">
            <input type="hidden" name="gaggle_name" value="{{gaggle.gaggle_name}}">
        </form>
</div>


<div class = 'gaggleModsInvite'>
    <form method=post action="{{url_for('inviteMod')}}" >       
        <textarea name="invitee_username" rows="1" cols="30"></textarea>
        <input type="submit" name="submit" value="Invite">
        <input type="hidden" name="gaggle_id" value="{{gaggle.gaggle_id}}">
    </form>
    </p>

    {% for invitee in gaggle.invitees %}
    <p> Status for {{invitee.username}}: {{invitee.accepted}}</p>
    {% endfor %}
</div>




{% endblock %}