{% extends "base.html" %}

{% block main_content %}
    <p>welcome to {{gaggle.gaggle_name}} </p>
    <p>created by <a href="{{url_for('user', username=gaggle.username)}}">{{gaggle.username}}</a></p>
    <p>about:  {{gaggle.description}}</p>
    <p><a href="{{url_for('gaggleMembers', gaggle_name = gaggle.gaggle_name)}}">View members</a></p>

    <div class="join_group">
        <form name="write_post" action="{{url_for('joinGaggle', gaggle_name = gaggle.gaggle_name, gaggle_id = gaggle.gaggle_id)}}" method="POST">
            {% if joined %}
            <input type="submit" name = "submit" value="Unjoin">
            {% else %}
            <input type="submit" name = "submit" value="Join">
            {% endif %}
        </form>
    </div>

    <div class="add_post_form">
        <form name="write_post" action="{{url_for('addPost')}}" method="POST">
            <textarea name="content" rows="4" cols="50"></textarea>
            <input type="submit" value="Post">
            <input type="hidden" name="gaggle_id" value="{{gaggle.gaggle_id}}">
            <input type="hidden" name="gaggle_name" value="{{gaggle.gaggle_name}}">
        </form>
    </div>
    
    {% for post in posts %}
    <div class="post" id="{{post['post_id']}}">
        <p><a href="{{url_for('post', post_id=post.post_id)}}">Post_id: {{post.post_id}}</a>
        <p>author: <a href="{{url_for('user', username=post['author'])}}">{{post['author']}}</a> gaggle: <a href="{{url_for('gaggle',gaggle_name=post['gaggle'])}}">{{post['gaggle']}}</a></p>
        <p>{{post['content']}}</p>
        <p><a href="{{url_for('post', post_id=post.post_id)}}">Comments</a> </p>
        <p>likes: {{post['likes']}}</p>
        <p>dislikes: {{post['dislikes']}}</p>
        <p>{{post['posted_date']}}</p>  
        <form method="post" action="{{url_for('deletePost', post_id=post['post_id'], author_id=post['poster_id'])}}">
            <input type="submit" name="delete" value="Delete Post">
        </form>
    </div>
    {% endfor %}

{% endblock %}
