{% extends "base-bs.html" %}

{% block title_description %}
<title>{{gaggle.gaggle_name}} | Waggle</title>
<meta name="description" content="" />
{% endblock %}

{% block main_content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://rawgit.com/theraot/emoji/master/emoji.js" charset="utf-8"></script>
<style>
.emoji{
    margin:20px;
}
</style>


<div class="container-xxl flex-grow-1 container-p-y">
    <!-- HEADER -->
    <div class="row">
        <div class="col-lg-12 mb-4">
            <div class="card card-header bg-primary-light text-white" >
                <div class="d-flex align-items-end align-items-sm-center row">
                    <div class="col-xl-9">
                        <div class="card-body py-3">
                            <a href="{{url_for('gaggle', gaggle_name=gaggle.gaggle_name)}}"><h1 class="card-title text-white"><strong>{{gaggle.gaggle_name}}</strong></h1></a>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card-body py-3">
                                {% if isAuthor %}                                
                                <a href = "{{url_for('editGaggle', gaggle_name = gaggle.gaggle_name)}}"><button class = "btn btn-lg rounded-pill btn-info">Edit Group</button></a> 
                                <form name="join_group" action="{{url_for('joinGroup')}}"  method="POST">
                                {% elif joined %}
                                <button id = 'btn-{{gaggle.gaggle_id}}' class="btn rounded-pill btn-info" name="submit" onclick ="joinGroup('{{gaggle.gaggle_id}}')">Unjoin</button>
                                {% else %}
                                <button id = 'btn-{{gaggle.gaggle_id}}' class="btn rounded-pill btn-info" name="submit" onclick ="joinGroup('{{gaggle.gaggle_id}}')">Join</button>
                                {% endif %}
                                <input type="hidden" name="gaggle_id" value="{{gaggle.gaggle_id}}">
                                </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <!-- SIDE BAR (RIGHT COLUMN)-->
        <div class="col-lg-4 order-1">
            <div class="card">
                <div class="d-flex align-items-end align-items-sm-center row">
                    <div class="col-sm-9 py-0">
                        <div style="margin-top:20px; margin-left: 20px;"> 
                        <h3><strong>{{gaggle.gaggle_name}}</strong></h3></div>
                    </div>
                </div>
                <hr/>
                <div class="d-flex align-items-end align-items-sm-center row">
                    <div class="col-sm-12">
                        <p class="mx-3">{{gaggle.description}}</p>
                    </div>
                </div>
                <hr/>
                <div class="d-flex align-items-end align-items-sm-center row">
                    <div class="col-sm-12">
                        <p class="mx-3" onclick="displayGuidelines()"><strong>Show Guidelines</strong></p>
                    </div> 
                </div>
                <hr/>
                <div class="d-flex align-items-end align-items-sm-center row">
                    <p class="mx-3"><strong>Created by: </strong><a href="{{url_for('user', username=gaggle.username)}}">{{gaggle.username}}</a></p>
                </div>
                <hr/>
                <div class="d-flex align-items-end align-items-sm-center row">
                    <p class="mx-3"><strong>Moderators: </strong>
                        {% for mod in mods%}
                        <a href="{{url_for('user', username=mod['username'])}}">{{mod['username']}}</a>
                        {%endfor%}
                    </p>
                </div>
                <hr/>
                <div class="d-flex align-items-end align-items-sm-center row">
                    <p class="mx-3"><a href="{{url_for('gaggleMembers', gaggle_name = gaggle.gaggle_name)}}">View Members</a></p>
                </div>
            </div>
        </div>
        <!-- LEFT COLUMN -->
        <div class="col-lg-8 mb-4 order-0">
            {% block sub_content %}
            <!-- CREATE POST -->
                <div id ='post-to-{{gaggle.gaggle_id}}' class = "post-form {{'display' if joined else 'hidden'}}" >
                    <div class="card mb-4">
                        <div  class="d-flex align-items-end align-items-sm-center row">
                            <h4 class="m-3">Create Post:</h4>
                            <form id="write_post" name="write_post" action="{{url_for('postGroup')}}" method="POST" enctype="multipart/form-data">
                                <p class="emoji">
                                <textarea aria-label="Post" name="content" id = "content" rows="4" style="width: 45vw; min-width: 400px"></textarea>
                                </p>
                                <div style = 'margin: 20px; margin-right: 40px;'>
                                <div  class="d-flex align-items-end align-items-sm-center justify-content-end">
                                    <div class="d-flex align-items-end align-items-sm-center justify-content-end">
                                    <label>Upload picture: <input type="file" id= "uploadfile" name="pic" style = 'max-width: 250px;'></label></div>
                                    <input type="submit" class="btn rounded-pill btn-dark" value="Post" onclick ="postGroup('{{gaggle.gaggle_id}}')">
                                </div></div>
                                <input type="hidden" name="gaggle_id" value="{{gaggle.gaggle_id}}">
                                <input type="hidden" name="gaggle_name" value="{{gaggle.gaggle_name}}">
                            </form>
                        </div>
                    </div>
                </div>
                <h3>Feed</h3>
                {% import "postTemplateJS.html" as postComp%}
                {% for post in posts %}
                    <div class="row">
                        <div class="col-lg-12 mb-3">
                            <div id="feed">
                                <div class="card">
                                    <div class="d-flex align-items-end row">
                                        <div class="col-sm-12">

                                            {{postComp.post_temp(post=post, user_id = my_user_id)}}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endblock %}
        </div>
    </div>
</div>

<div id = "guidelines" class = 'popup-report'>
    <div class="card">
      <div class = 'report-header'>
        <div class="d-flex align-items-end align-items-sm-center row">
            <div class="col-sm-10"><strong>Guidelines:</strong></div>
            <div class="col-sm-10"> {{gaggle.guidelines}}</div>
            <div class="col-sm-2 right"> 
                <button aria-label="close guidelines" class = 'btn-icon' onclick="closeGuidelines('{{gaggle.gaggle_id}}')" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </button>
            </div> 
        </div>
      </div>
  </div>
</div>

<script>
    function joinGroup(gaggle_id) {
        console.log(gaggle_id);
        $.ajax({
                type: "POST",
                url: "/gaggle/join/",
                data: JSON.stringify({'gaggle_id': gaggle_id}),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: true,
                success: function (resp) {
                    console.log(resp);
                    var gaggle_id = resp.gaggle_id;
                    var result = resp.result;
                    console.log(result);
                    $("#btn-"+gaggle_id).text(result);
                    if (result =='Join') {
                        document.getElementById("post-to-"+gaggle_id).classList.remove('display');
                        document.getElementById("post-to-"+gaggle_id).classList.toggle("hidden");
                    }
                    else if (result == 'Unjoin'){
                        document.getElementById("post-to-"+gaggle_id).classList.remove('hidden');
                        document.getElementById("post-to-"+gaggle_id).classList.toggle('display');
                    };
                    }
            });  event.preventDefault();
    }


    function postGroup(gaggle_id) {
        console.log(gaggle_id);
        var content = $('textarea#content').val();
        var form_data = new FormData();
        console.log(content)
        console.log('postFile', $('#uploadfile').prop('files')[0])
        form_data.append('postFile', $('#uploadfile').prop('files')[0]);
        form_data.append('content', content);
        form_data.append('gaggle_id', gaggle_id);
        $.ajax({
                type: "POST",
                url: "/addPost/",
                data: form_data,
                contentType: false,
                cache: false,
                processData: false,
                dataType: 'json',
                async: true,
                success: function(resp){
                    var new_post = resp['new_post']
                    $('#feed').prepend(new_post);
                    $('textarea#content').val('');
                    $('input#uploadfile').val('');
                }
            });  event.preventDefault();
    }    



        function changeLanguage(language) {
            var element = document.getElementById("url");
            element.value = language;
            element.innerHTML = language;
        }

        function displayGuidelines() {
            document.getElementById("guidelines").classList.toggle("display");
        }
        function closeGuidelines() {
            document.getElementById("guidelines").classList.remove("display");
        }

    </script>


{% endblock %}
