{% extends "base.html" %}

{% block main_content %}
<ul class="menu">
    <li><a href="{{url_for('history', username = username)}}">All History</a></li>
    <li><a href="{{url_for('history', username = username)}}">Posts</a></li>
    <li><a href="{{url_for('history', username = username)}}">Comments</a></li>
    <li><a href="{{url_for('history', username = username)}}">Likes/Dislikes</a></li>
  </ul>
<div>
    <p>This is the history of {{username}}</p>

    <p>Post History:</p>
        {% import "post_template.html" as postComp%}
        {% for post in posts %}
            {{postComp.post_temp(post=post)}}
        {% endfor %}
        <script>
            function changeLanguage(language) {
                var element = document.getElementById("url");
                element.value = language;
                element.innerHTML = language;
            }
            function showDropdown(pid) {
                document.getElementById("myDropdown_"+pid).classList.toggle("show");
            }
            // Close the dropdown if the user clicks outside of it
            window.onclick = function(event) {
                if (!event.target.matches('.dropbtn')) {
                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                        var openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
            }
        </script>
</div>
{% endblock %}
