{% extends "base-bs.html" %}

{% block title_description %}
<title>Home | Waggle</title>
<meta name="description" content="" />
{% endblock %}

<!-- display main feed -->
{% block main_content %}
<div class="row my-3"></div>

<!-- most recent 20 posts -->
    {% import "postTemplateJS.html" as postComp%}
    {% for post in posts %}
        <div class="row">
            <div class="col-lg-1 mb-3 order-0"></div>
            <div class="col-lg-10 mb-3 order-1">
                <div class="card">
                    <div class="d-flex align-items-end row">
                        <div class="col-sm-12">
                            
                            {{postComp.post_temp(post=post, user_id = my_user_id)}}

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 mb-3 order-2"></div>
        </div>
    {% endfor %}

{% endblock %}
