{% extends "group-bs.html" %}

{% block title_description %}
<title>View Post | Waggle</title>
<meta name="description" content="" />
{% endblock %}

{% block sub_content %}

    <div style = 'background-color: white; margin:auto; padding: 20px;'>
        <h3> Post </h3>
    <div>   
    {% import "postTemplateJS.html" as postComp%}
        {{postComp.post_temp(post=post, pageIsNotPost = false)}}
    </div> 
    
    {% if valid %}
    <div class = 'comment-form'>
        <form action="{{url_for('addComment')}}" method="POST"> 
            <div class="d-flex align-items-end align-items-sm-center">             
                <div><textarea class="mx-4 mb-0" name="content" id="comment-content"  rows="2" style="width: 30vw; border: solid rgb(210, 210, 210) 1px;"></textarea></div> 
                <div><input type="submit" class="btn rounded-pill btn-dark" value="Comment" onclick ="addComment('{{post.post_id}}')"></div> 
                    <input type="hidden" name="gaggle_id" value="{{gaggle.gaggle_id}}">
                    <input type="hidden" name="gaggle_name" value="{{gaggle.gaggle_name}}">
            </div>
        </form>    
    </div>
    {% endif %}

    <div class = 'replies' id = 'replies'>
        {% import "commentTemplateJS.html" as commentComp%}
        {% for comment in comments %}
            {{commentComp.comment_temp(comment=comment, user_id = user_id, pageIsNotPost = false)}}
        {% endfor %}
    </div>

</div>
<script>
    function addComment(post_id) {
        console.log(post_id);
        var content = $('textarea#comment-content').val();
        console.log(content);
        $.ajax({
                type: "POST",
                url: "/addComment/",
                data: JSON.stringify({'post_id': post_id, 'content': content}),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: true,
                success: function(resp){
                    var new_post = resp['new_comment']
                    $('#replies').prepend(new_post);
                    $('textarea#comment-content').val('');
                }
            });  event.preventDefault();
    } 
</script>
{% endblock %}
