{% extends "super_base.html" %}

{% block main_content %}
    <div class="post" id="{{post['post_id']}}">
        <div class="header">
            <!-- three dot menu -->
            <div class="dropdown">
              <!-- three dots -->
              <ul class="dropbtn icons btn-right showLeft" onclick="showDropdown('{{post.post_id}}')">
                <li></li>
                <li></li>
                <li></li>
              </ul>
              <!-- menu -->
              <div id="myDropdown_{{post.post_id}}" class="dropdown-content">
                {% if post.canDelete %}
                <a href="{{url_for('deletePost', post_id=post['post_id'], author_id=post['poster_id'], gaggle_name=post['gaggle'])}}">Delete Post</a>
                {% endif %}
                {% if not post.canDelete %}
                <a href="{{url_for('flagPost', post_id = post.post_id, author_id=post.poster_id, gaggle_name=post['gaggle'])}}">Report Post</a>
                {% endif %}
              </div>
            </div>
        </div>
        <p>post id: {{post['post_id']}}</p>
        <p>author: <a href="{{url_for('user', username=post['author'])}}">{{post['author']}}</a> gaggle: <a href="{{url_for('gaggle',gaggle_name=post['gaggle'])}}">{{post['gaggle']}}</a></p>
        <p>{{post['content']}}</p>
        <p>likes: {{post['likes']}}</p>
        <p>dislikes: {{post['dislikes']}}</p>
        <p>{{post['posted_date']}}</p>  
        {% if valid %}        
        <form method=post action="{{url_for('post', post_id = post.post_id)}}" >
            <input type="submit" name="submit" value="Like">
            <input type="submit" name="submit" value="Dislike">        
            <textarea name="comment_content" rows="4" cols="50"></textarea>
            <input type="submit" name="submit" value="Comment">
        </form>
        {% endif %}
        {% for comment in comments %}
        <div class="comment" id="{{comment.comment_id}}">
            <p><a href="{{url_for('addReply', comment_id=comment.comment_id)}}">Reply_id: {{comment.comment_id}}</a> </p>
            <p>author: <a href="{{url_for('user', username=comment.commentor_id)}}">{{comment.username}}</a> </p>
            <p>{{comment.content}}</p>
            <p>{{comment.posted_date}}</p>
            <p>Likes: {{comment.likes}}</p>
            <p>Dislikes: {{comment.dislikes}}</p>
        <form method=post action="{{url_for('likeComment', post_id = post.post_id, comment_id = comment.comment_id)}}" >
            <input type="submit" name="submit" value="Like">
            <input type="submit" name="submit" value="Dislike"> 
        </form> 

        </div>
        {% endfor %}
    </div>
    <script>
        function changeLanguage(language) {
            var element = document.getElementById("url");
            element.value = language;
            element.innerHTML = language;
        }
        function showDropdown(pid) {
            document.getElementById("myDropdown_"+pid).classList.toggle("show");
        }
        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
      </script>


{% endblock %}
