{% macro post_temp(post) -%}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<style>
    .material-symbols-outlined {
      font-size: 20px;
      font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48
    }

    .metric {
        padding: 0;
        margin: auto;
        border: none;
        background: none;
    }

    .metric-reply{
        padding-left: 0px;
        font-size: 8px;
        border: none;
        background: none;
    }

    .metric-btn{
        padding-left: 20%;
        font-size: 10px;
        border: none;
        background: none;
    }
    img {
  max-width:100%;
}
.avator {
  border-radius:100px;
  width:48px;
  margin-right: 15px;
}


.tweet-wrap {
  max-width:490px;
  background: #fff;
  margin: 0 auto;
  margin-top: 20px;
  border-radius:3px;
  /* padding: 0px; */
  border-bottom: 1px solid #e6ecf0;
  border-top: 1px solid #e6ecf0;
}

.tweet-header {
  display: flex;
  align-items:flex-start;
  font-size:14px;
}
.tweet-header-info {
  font-weight:bold;
}
.tweet-header-info span {
  color:#657786;
  font-weight:normal;
  margin-left: 5px;
}
.tweet-header-info p {
  font-weight:normal;
  margin-top: 5px;
  
}
.tweet-img-wrap {
  padding-left: 60px;
}

.tweet-info-counts {
  display: flex;
  margin-left: 60px;
  margin-top: 10px;
}
.tweet-info-counts div {
  display: flex;
  margin-right: 20px;
}
.tweet-info-counts div svg {
  color:#657786;
  margin-right: 10px;
}
@media screen and (max-width:430px){
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .tweet-header {
    flex-direction:column;
  }
  .tweet-header img {
    margin-bottom: 20px;
  }
  .tweet-header-info p {
    margin-bottom: 30px;
  }
  .tweet-img-wrap {
    min-height:20%;
    padding-left: 0;
  }
  .tweet-info-counts {
  display: flex;
  margin-left: 0;
}
.tweet-info-counts div {
  margin-right: 10px;
}
}
</style>


<!-- <div class="post" id="{{post['post_id']}}">
    <div class="container-post">
        <div class="profile"></div>
        <div class="post-info" >
          <div class="report">
            <div class="dropdown"> -->
                <!-- three dot menu -->
                    <!-- <ul class="dropbtn icons btn-right showLeft" onclick="showDropdown('{{post.post_id}}')">
                        <li></li>
                        <li></li>
                        <li></li>
                      </ul> -->
                <!-- menu -->
                    <!-- <div id="myDropdown_{{post.post_id}}" class="dropdown-content">
                        {% if post.canDelete %}
                        <a href="{{url_for('deletePost', post_id=post['post_id'], author_id=post['poster_id'], gaggle_name=post['gaggle'])}}">Delete Post</a>
                        {% endif %}
                        {% if not post.canDelete %}
                        <a href="{{url_for('flagPost', post_id = post.post_id, author_id=post.poster_id, gaggle_name=post['gaggle'])}}">Report Post</a>
                        {% endif %}
                    </div>              
                </div>
          </div>
          <div class="post-author-info" onclick= "window.location.href = '{{url_for('post', post_id=post.post_id)}}';">
            <p class = 'post-details'><span><a href="{{url_for('user', username=post.author)}}" class = "comment-author">{{post.author}}</a></span>   
            <span class = 'gaggle-name'>/<a href="{{url_for('gaggle',gaggle_name=post['gaggle'])}}">{{post['gaggle']}}</a></span> 
             <span class = posted-date>{{post['posted_date']}}</span>
             </p>
          </div>
        </div>
        <div class="post-body" onclick= "window.location.href = '{{url_for('post', post_id=post.post_id)}}';">
          <div class="post-content">
            <p>{{post['content']}}</p>
          </div>
        </div>
      </div>
    

    <div>
        <form class = 'add-comment' method=post action="{{url_for('post', post_id = post.post_id)}}" >
            <button class ="metric-btn" onclick ="showReply('{{post.post_id}}')">
                <svg class="feather feather-message-circle sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
                    </button><span id="replies-cnt-post-{{post.post_id}}" class="metric-num">{{post.replies}}</span>       

            <button class ="metric-btn" name = "submit" value="Like" onclick ="likePost('{{post.post_id}}','Like')">
                    <span class="material-symbols-outlined">favorite</span>
                </button> 
                    <span id="likes-cnt-post-{{post.post_id}}" class="metric-num">{{post.likes}}</span>


            <button class ="metric-btn" name = "submit" value="Dislike" onclick ="likePost('{{post.post_id}}','Dislike')">
                <span class="material-symbols-outlined">heart_broken</span>
            </button> 
                <span id="dislikes-cnt-post-{{post.post_id}}" class="metric-num">{{post.dislikes}}</span>
            <input type="hidden" name="post_id" value="{{post.post_id}}">

        </form>
    </div>
</div> -->




<div class="tweet-wrap">
    <div class="tweet-header">
      <img src="https://pbs.twimg.com/profile_images/1012717264108318722/9lP-d2yM_400x400.jpg" alt="" class="avator">
      <div class="tweet-header-info">
        {{post.author}} <span>@{{post.author}}</span><span>{{post.posted_date}}
  </span>
        <p>🔥 {{post.content}}</p>
        
      </div>
      
    </div>
    <div class="tweet-img-wrap">
      <!-- <img src="https://pbs.twimg.com/media/Dgti2h0WkAEUPmT.png" alt="" class="tweet-img"> -->
      <p>🔥 {{post.content}}</p>

    </div>
    <div class="tweet-info-counts">
      
      <div class="comments">
        
        <svg class="feather feather-message-circle sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
        <div class="comment-count">{{post.replies}}</div>
      </div>
      
      <div class="retweets">
        <svg class="feather feather-repeat sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><polyline points="17 1 21 5 17 9"></polyline><path d="M3 11V9a4 4 0 0 1 4-4h14"></path><polyline points="7 23 3 19 7 15"></polyline><path d="M21 13v2a4 4 0 0 1-4 4H3"></path></svg>
        <div class="retweet-count">{{post.likes}}</div>
      </div>
      
      <div class="likes">
        <svg class="feather feather-heart sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
        <div class="likes-count">
          {{post.dislikes}}
        </div>
      </div>
      
      <div class="message">
        <svg class="feather feather-send sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
      </div>
    </div>
  </div>















<!-- <div class="container-post">
    <div class="profile"></div>
    <div class="post-info">
        <p class = 'post-details'><span><a href="{{url_for('user', username=post.author)}}" class = "comment-author">{{post.author}}</a></span>   
            <span class = 'gaggle-name'>/<a href="{{url_for('gaggle',gaggle_name=post['gaggle'])}}">{{post['gaggle']}}</a></span> </p>
    </div>
    <div class="post-content">
        {{post['content']}}
    </div>

    <div class="posted-date">
        <span >{{post['posted_date']}}</span>
    </div>

    
</div>


    <form class = 'add-comment' method=post action="{{url_for('post', post_id = post.post_id)}}" >
 
        <button class ="metric-btn" onclick ="showReply('{{post.post_id}}')">
            <svg class="feather feather-message-circle sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
                </button><span id="replies-cnt-post-{{post.post_id}}" class="metric-num">{{post.replies}}</span>               

        <button class ="metric-btn" name = "submit" value="Dislike" onclick ="likePost('{{post.post_id}}','Dislike')">
            <span class="material-symbols-outlined">heart_broken</span>
        </button> 
            <span id="dislikes-cnt-post-{{post.post_id}}" class="metric-num">{{post.dislikes}}</span>
        <input type="hidden" name="post_id" value="{{post.post_id}}">

        <button class ="metric-btn" name = "submit" value="Like" onclick ="likePost('{{post.post_id}}','Like')">
                <span class="material-symbols-outlined">favorite</span>
            </button> 
                <span id="likes-cnt-post-{{post.post_id}}" class="metric-num">{{post.likes}}</span>
    
        
    </form> -->











    <script>




        function likePost(post_id, kind) {
            console.log(post_id);
            $.ajax({
                    type: "POST",
                    url: "/likePost/",
                    data: JSON.stringify({'post_id': post_id, 'kind': kind}),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    async: true,
                    success: function (resp) {
                        console.log(resp);
                        var post_id = resp.post_id;
                        var likes = resp.likes;
                        var dislikes = resp.dislikes;
                        console.log("New likes for post "+post_id+" is "+likes +" and new dislikes is "+dislikes);
                        $("#likes-cnt-post-"+post_id).text(likes);
                        $("#dislikes-cnt-post-"+post_id).text(dislikes);
                    }
                });  event.preventDefault();
        }

        function changeLanguage(language) {
            var element = document.getElementById("url");
            element.value = language;
            element.innerHTML = language;
        }
        function showDropdown(pid) {
            document.getElementById("myDropdown_"+pid).classList.toggle("show");
            console.log(document.getElementById("myDropdown_"+pid));
        }
        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }}
        </script>
    
{%- endmacro -%}