{% extends "base-bs.html" %}
      
{% block main_content %}

<div class="container-xxl flex-grow-1 container-p-y">
 <div class="row">
  <div class = "col-xl-10">
  <div class ='container card'>
    <div class = 'row'>
  <div class="tab-content col-xl-9">
    <div class="tab-pane show active" role="tabpanel" aria-labelledby="report-tab" id = 'report'>
      <h4>Reported posts</h4>
            <!-- <div class="btn-group" role="group">                                                
                <button type = 'button' class = 'btn-outline-primary btn-sm border-0' name="submit">Most reported</button>
                <button type = 'button' class = 'btn-outline-primary btn-sm border-0' name="submit">Latest</button>            
            </div> -->

            <ul class="list-group border-0">
                {% for flag in flagged %}
                <li class="list-group-item border-0" id = "flag-{{flag.report_id}}">
        
                        <div class = 'card mb-4'>
                            <div class = 'card-body'>
                                <div class="container alert alert-primary align-items-sm-center" role="alert">
                                    <div class = 'row'>
                                        <div class = 'col-sm-8'>
                                            Reported by @<strong>{{flag.reporter_username}}</strong> for: {{flag.reason}} 
                                        </div>
                                        <div class = 'col-sm-4'>
                                            <form method="POST" action="{{url_for('approve')}}">
                                              <div class="btn-group" role="group">
                                                  <button type = 'button' class = 'btn-outline-primary rounded-pill btn-sm' name="submit" onclick =  "approve('{{flag.post_id}}','{{flag.reporter_id}}','{{flag.report_id}}','Yes')">Remove</button>
                                                  <button type = 'button' class = 'btn-outline-primary rounded-pill btn-sm' name="submit" onclick =  "approve('{{flag.post_id}}','{{flag.reporter_id}}','{{flag.report_id}}','No')">Approve</button> 
                                              </div>
                                            </form>
                                        </div>
        
                                    </div>
                                </div>
        
                                <div class="comment-header">
                                    <div class = 'avator-comment'>
                                        <img src="{{url_for('profilePic',user_id=flag.poster_id)}}" alt="1" class = 'img-profile'>
                                    </div>
                                    <div class="comment-header-info">
                                        <div><a href="{{url_for('user', username=flag.username)}}"><span class = 'author'> @{{flag.reported_username}}</span></a></div>        
                                        <div><span class = 'posted-date'>{{flag.posted_date}}</span></div>
                                    </div>      
                                </div>
                                
                                <div class="comment-img-wrap" style = 'margin:0px;'>
                                <p> {{flag.content}}</p>
                                </div>                        
                            </div>
                        </div>
                    </li>
            {%endfor%}    
            </ul>

        
    </div>
    <div class="tab-pane" role="tabpanel" aria-labelledby="report-tab" id = 'user' style = 'max-width: 400px;'>

        <h4>Banned users <span class = 'badge'><button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Ban user</button></span></h4> 
        <div id = 'banned-list'>
            <ul class="list-group list-group-item" style = 'max-height: 400px; max-width: 600px; border:0px;'>
                {% for user in bad_users %}
                <li class="list-group-item border-0" id = 'banned-{{user.user_id}}'>
                    {{user.username}} 
                    <button type = 'button' class = 'btn-outline-primary rounded-pill btn-sm'
                    onclick = "reinstate('{{user.user_id}}','{{user.gaggle_id}}')">Reinstate</button>
                </li>
                {%endfor%}
            </ul>            
        </div>




    </div>
</div>

<div class="col-xl-1">
  <ul class="nav nav-pills flex-column card-body" role="tablist">
      <li><h4 class="dropdown-header">Reports</h4></li>
      <li class="nav-item">
        <a
          class="nav-link active"
          role="representation"
          data-bs-toggle="tab"
          data-bs-target="#report"
          aria-selected="false"
        >
        Posts
      </a>
      </li>
      <li><h4 class="dropdown-header">Users</h4></li>
      <li class="nav-item">
        <a
          class="nav-link"
          role="representation"
          data-bs-toggle="tab"
          data-bs-target="#user"
          aria-selected="false"
        >
        Banned
      </a>
      </li>
    </ul>
  </div>
 </div>
</div>
<div class="modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">User ban</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id = 'modal-body'>
          <form method = 'POST' action = "{{url_for('ban')}}">
              <div class="mb-3">
                  <label for="ban-username" class="form-label">Ban user:</label>
                  <input type="email" class="form-control" id="ban-username" placeholder="@ab6">
                </div>
                <div class="mb-3">
                  <label for="reason" class="form-label">Reason for banning</label>
                  <textarea class="form-control" id="reason" rows="3"></textarea>
                </div>
                
                <div class="input-group mb-3" style = 'max-width: 400px;'>
                  <span class="input-group-text" id="basic-addon2">Ban period</span>
                  <input type="text" class="form-control" placeholder="7" aria-label="Number of days" id = 'period' aria-describedby="basic-addon2">
                  <span class="input-group-text" id="basic-addon2">Days</span>
                </div>
            </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id = 'close-modal'>Close</button>
        <button type="button" class="btn btn-primary" onclick = "ban('{{gaggle_id}}')">Submit</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>

</div>















<script>
    function approve(post_id, user_id, report_id, approval) {
        let li = document.getElementById('flag-'+report_id);
        console.log(li);
        li.parentNode.removeChild(li);
        console.log(approval);
        console.log(post_id);
        console.log(report_id);
        $.ajax({
                type: "POST",
                url: "/modapprove/",
                data: JSON.stringify({'post_id': post_id, 'user_id': user_id, 'approval':approval, 'report_id': report_id}),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: true,
                success: function(resp){
                }
            });  event.preventDefault();
    } 
    
    function reinstate(user_id, gaggle_id) {
        let li = document.getElementById('banned-'+user_id);
        li.parentNode.removeChild(li);
        $.ajax({
                type: "POST",
                url: "/reinstate",
                data: JSON.stringify({'gaggle_id':gaggle_id, 'user_id': user_id}),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: true,
                success: function(resp){
                  console.log(resp)
                }
            });  event.preventDefault();
    }   
    
    function ban(gaggle_id) {
        console.log(gaggle_id);
        var username = $('#ban-username').val();
        var reason = $('#reason').val();
        var period = $('#period').val();
        $.ajax({
                type: "POST",
                url: "/ban",
                data: JSON.stringify({'gaggle_id':gaggle_id, 'username': username, 'reason': reason, 'period': period}),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: true,
                success: function(resp){
                  $('#modal-body').text('User has been banned');
                  
                }
            });  event.preventDefault();
    }       
</script>

{% endblock %}