{% extends "group-bs.html" %}

{% block sub_content %}

<div class = 'thread-wrap'>
        <!-- previous replies -->  
        <div class = 'comment-thread'>               
            <a  class="comment-border-link"></a>
            {% import "postTemplateJS.html" as postComp%}
            {{postComp.post_temp(post=post, user_id = user_id)}}
            {% import "commentTemplateJS.html" as commentComp%}
                {% for comment in comment_chain %}
                    {{commentComp.comment_temp(comment=comment, user_id=user_id)}}
                {% endfor %}
        </div>

        <!-- main comment -->  
        <div id = 'main-comment'>  
            {{commentComp.comment_temp(comment=parent_comment, user_id=user_id)}}
        </div>  

        <!-- Replies section-->  
        <div class = 'replies'>
            {% for comment in replies %}  
                {{commentComp.comment_temp(comment=comment, user_id=user_id)}}
            {% endfor %}
        </div>
</div>

<script>
        window.addEventListener('load', function () {
            var elem = document.getElementById("main-comment");
            elem.scrollIntoView();
        }); 

    </script> 

{% endblock %}
