<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <!-- for mobile-friendly pages -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=author content="">
    <title>{{ page_title }}</title>
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
    {% block head_stuff %} {% endblock %}
</head>
<body>
  
<ul class="menu">
  <li><a class="active" href="{{url_for('homepage')}}">Home</a></li>
  <li><a href="{{url_for('user', username = username)}}">Profile</a></li>
  <li><a href="{{url_for('history', username = username)}}">History</a></li>
  <li><a href="{{url_for('showMyGaggles')}}">Dashboard</a></li>
  <li><a href="{{url_for('logout')}}">Log out</a></li>
</ul>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div id="messages">
  {% for msg in messages %}
  <p>{{msg}}</p>
  {% endfor %}
</div>
{% endif %}
{% endwith %}

{% block searchbar %}

{% endblock %}


{% block nav %}
{% endblock %}

{% block main_content %}

{% endblock %}

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  {% block end_scripts %}
  {% endblock %}
  
</body>
</html>
