{% extends "base.html" %}

{% block main_content %}

<body>
    <div class = 'search-kind'>
                <form method=get action="{{url_for('search')}}" >       
                        <button type="submit" class = 'search-filter' name="submit" value="Gaggles">GAGGLES</button>
                        <button type="submit" class = 'search-filter' name="submit" value="Posts">POSTS</button>
                        <button type="submit" class = 'search-filter' name="submit" value="Comments">COMMENTS</button>
                        <button type="submit" class = 'search-filter' name="submit" value="Goslings">GOSLINGS</button>
                        <input type="hidden" name="query" value="{{query}}">
                </form>
    </div>

    <div class = 'search-result'>  
    Results matching {{query}}:

    {% if kind == 'Posts' %}
        {% import "postTemplateJS.html" as postComp%}
        {% for post in results %}
            {{postComp.post_temp(post=post)}}
        {% endfor %} 

    {% elif kind == 'Comments' %}
    {% import "commentTemplateJS.html" as commentComp%}
        {% for comment in results %}
            {{commentComp.comment_temp(comment=comment, post=post)}}
        {% endfor %}       

    {% elif kind == 'Goslings' %}
        {% for user in results %}
        <p> 
             Gosling:   <a href="{{url_for('user', username=user.username)}}">{{user.username}}</a>
        </p>    
        {% endfor %}  

    {% else %}
        {% for gaggle in results %}
        <p> 
        <a href="{{ url_for('gaggle', gaggle_name=gaggle.gaggle_name)}}">{{gaggle.gaggle_name}}</a>
        </p>
        {% endfor %}      
    {% endif %}
    </div>       
</body>
{% endblock %}
