{% extends "base.html" %}

{% block main_content %}
<p>This is {{username}}'s profile</p>

    <form name="create_gaggle" action="{{url_for('createGaggle')}}" method="POST">
        <textarea name="gaggle_name" rows="1" cols="30"></textarea>
        <textarea name="description" rows="1" cols="30"></textarea>
        <input type="submit" name = "submit" value="Create">
    </form>  


<p>Creator of the following Gaggles:</p>
{% for gaggle in gagglesCreated %}
<div class="gaggle" id="{{gaggle['gaggle_id']}}">
    <p>Gaggle: {{gaggle.gaggle_name}}</p>
    <p>Description: {{gaggle.description}}</p>
    <form method="post" action="{{url_for('deleteGaggle', gaggle_id=gaggle['gaggle_id'])}}">
        <input type="submit" name="delete" value="Delete Gaggle">
    </form> 
</div>
{% endfor %}


<p>Member of the following Gaggles:</p>
{% for gaggle in gagglesJoined %}
<div class="gaggle" id="{{gaggle['gaggle_id']}}">
    <p>Gaggle: {{gaggle.gaggle_name}}</p>
    <p>Description: {{gaggle.description}}</p>
    <form method="get" action="{{url_for('gaggle', gaggle_name=gaggle['gaggle_name'])}}">
        <input type="submit" name="visit" value="View Gaggle Page">
    </form> 
</div>
{% endfor %}

{% endblock %}